<template>
  <div class="flex flex-row justify-center">
    <button
      class="w-12 h-full p-3 disabled:opacity-50"
      :disabled="locationDisabled"
      :title="
        locationDisabled
          ? 'Location Services are disabled in the browser'
          : 'Use my current location'
      "
      @click="$emit('update:useLocation', !useLocation)"
    >
      <LocationPin
        class="h-full w-auto"
        :class="`${
          useLocation && !locationDisabled ? 'fill-primary' : 'fill-secondary'
        }`"
      />
    </button>
    <button
      class="w-12 h-full p-3"
      title="Show map preview"
      @click="$emit('update:showMap', !showMap)"
    >
      <MapIcon
        class="h-full w-auto"
        :class="`${showMap ? 'fill-primary' : 'fill-secondary'}`"
      />
    </button>
  </div>
</template>

<script lang="ts">
export default {
  name: "ConfigurationToolbar",

  props: {
    locationDisabled: {
      type: Boolean,
      default: false,
    },

    useLocation: {
      type: Boolean,
      default: false,
    },

    showMap: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<script setup lang="ts">
import LocationPin from "@/components/icons/LocationPin.vue";
import MapIcon from "@/components/icons/MapIcon.vue";
</script>

<style lang="postcss"></style>
