<template>
  <div
    class="flex flex-col gap-2 justify-center rounded-lg bg-white p-3 shadow-lg overflow-hidden"
  >
    <template v-if="!loading">
      <slot name="header"></slot>
      <slot></slot>

      <slot name="footer"></slot>
    </template>
    <SpinnerIcon v-else />
  </div>
</template>

<script lang="ts">
export default {
  name: "CustomCard",

  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<script setup lang="ts">
import SpinnerIcon from "./icons/SpinnerIcon.vue";
</script>

<style lang="postcss"></style>
