<template>
  <div class="flex flex-col items-center justify-center gap-2">
    <div
      class="rounded-full aspect-square h-1/2 bg-primary flex flex-col items-center justify-center"
    >
      <span class="text-white font-bold text-6xl p-5">!</span>
    </div>

    <h3 class="text-center">
      There was an error,
      <span class="cursor-pointer text-primary" @click="$emit('retry')">
        try again
      </span>
      .
    </h3>
  </div>
</template>

<script lang="ts">
export default {
  name: "ErrorMessage",
};
</script>
