<template>
  <div ref="mapElementRef"></div>
</template>

<script lang="ts">
export default {
  name: "LocationMap",
};
</script>

<script setup lang="ts">
import { useGoogleMaps } from "@/composables/useGoogleMaps";
import type { Coordinates } from "@/types";
import { toRefs, type PropType } from "vue";

const props = defineProps({
  coordinates: {
    type: Object as PropType<Coordinates>,
    required: true,
  },
});

const { coordinates } = toRefs(props);

const { mapElementRef } = useGoogleMaps(coordinates);
</script>

<style lang="postcss"></style>
