<template>
  <div class="flex flex-row gap-1 text-[1em]">
    <slot name="icon"></slot>

    <span class="text-md">
      <slot>--</slot>
    </span>
  </div>
</template>

<script lang="ts">
export default {
  name: "WeatherVariable",
};
</script>

<script setup lang="ts"></script>

<style lang="postcss"></style>
