<template>
  <div
    class="flex items-center justify-center absolute top-0 left-0 w-full h-full bg-white"
  >
    <div class="grid grid-rows-3 grid-cols-2 gap-1">
      <WeatherVariable>
        <template #icon>
          <WindIcon class="w-5 h-auto fill-slate-600" />
        </template>

        {{ windSpeedFormatted }} {{ UNITS.wind[units] }}
      </WeatherVariable>

      <WeatherVariable>
        <template #icon>
          <HumidityIcon class="w-5 h-auto fill-slate-600" />
        </template>

        {{ humidityFormatted }} %
      </WeatherVariable>

      <WeatherVariable class="col-span-2">
        <template #icon>
          <PressureIcon class="w-5 h-auto fill-slate-600" />
        </template>

        {{ pressureFormatted }} {{ UNITS.pressure[units] }}
      </WeatherVariable>

      <WeatherVariable>
        <template #icon>
          <SunriseIcon class="w-5 h-auto fill-slate-600" />
        </template>

        {{ sunriseTimeFormatted }}
      </WeatherVariable>

      <WeatherVariable>
        <template #icon>
          <SunsetIcon class="w-5 h-auto fill-slate-600" />
        </template>

        {{ sunsetTimeFormatted }}
      </WeatherVariable>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "WeatherInformationExtra",
};
</script>

<script setup lang="ts">
import type { WeatherInfo } from "@/types";
import type { OWUnit } from "@/types/open-weather";
import { formatTimeLocal, mpsToKmph } from "@/utils";
import { UNITS } from "@/utils/constants";
import { computed, type PropType } from "vue";
import PressureIcon from "./icons/PressureIcon.vue";
import WindIcon from "./icons/WindIcon.vue";
import HumidityIcon from "./icons/HumidityIcon.vue";
import SunriseIcon from "./icons/SunriseIcon.vue";
import SunsetIcon from "./icons/SunsetIcon.vue";
import WeatherVariable from "./WeatherVariable.vue";

const props = defineProps({
  weather: {
    type: Object as PropType<WeatherInfo>,
    required: true,
  },

  units: {
    type: String as PropType<OWUnit>,
    default: "metric",
  },
});

const sunriseTimeFormatted = computed(() =>
  props.weather.sunriseTime ? formatTimeLocal(props.weather.sunriseTime) : "--"
);

const sunsetTimeFormatted = computed(() =>
  props.weather.sunsetTime ? formatTimeLocal(props.weather.sunsetTime) : "--"
);

const windSpeedFormatted = computed(() =>
  props.weather.windSpeed
    ? Math.round(mpsToKmph(props.weather.windSpeed))
    : "--"
);

const humidityFormatted = computed(() =>
  props.weather.humidity ? props.weather.humidity : "--"
);

const pressureFormatted = computed(() =>
  props.weather.pressure ? props.weather.pressure.toFixed(2) : "--"
);
</script>

<style lang="postcss"></style>
