<template>
  <CustomCard v-if="loading" loading class="h-40" />
  <CustomCard v-else-if="error" class="h-40">
    <ErrorMessage @retry="loadFromLocation(selectedLocation)" />
  </CustomCard>
  <template v-else>
    <h2 class="font-bold text-xl mb-2">Weather in the past 5 days</h2>
    <div class="flex flex-row overflow-x-auto gap-2 pb-2">
      <WeatherInformation
        v-for="weather in allHistoricalWeather"
        :key="weather.dataTime"
        :weather="weather"
        class="text-sm min-w-[15rem]"
      />
    </div>
  </template>
</template>

<script lang="ts">
export default {
  name: "WeatherHistorical",
};
</script>

<script setup lang="ts">
import { toRefs, watch, type PropType } from "vue";

import WeatherInformation from "@/components/WeatherInformation.vue";
import CustomCard from "./CustomCard.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";

import { useWeatherStore } from "@/stores/weather";
import { storeToRefs } from "pinia";
import { useLoading } from "@/composables/useLoading";
import type { LocationInformation } from "@/types";

const props = defineProps({
  location: {
    type: Object as PropType<LocationInformation>,
    required: true,
  },
});

const MAX_DAYS_WEATHER = 5;

const { location: selectedLocation } = toRefs(props);

const weatherStore = useWeatherStore();
const { allHistoricalWeather } = storeToRefs(weatherStore);
const { loadHistoricalWeather } = weatherStore;

const { loading, load, error } = useLoading();

const loadFromLocation = async (location: LocationInformation) => {
  if (!location) return;
  load(async () => {
    const promises = [];

    // get historical for the last 5 days
    for (let i = 1; i <= MAX_DAYS_WEATHER; i++) {
      promises.push(loadHistoricalWeather(location.coordinates, i));
    }

    await Promise.race(promises);
  });
};

watch(selectedLocation, loadFromLocation, { immediate: true });
</script>

<style lang="postcss"></style>
