<template>
  <CustomCard v-if="error" class="h-40">
    <ErrorMessage @retry="loadFromLocation(selectedLocation)" />
  </CustomCard>
  <CustomCard v-else-if="loading" loading class="h-40" />
  <div v-else class="flex flex-row justify-center">
    <WeatherInformation
      v-if="currentWeather"
      :weather="{ ...currentWeather, ...todaysHighLowTemperature }"
      :location-name="selectedLocation?.name"
      class="w-full"
    />
  </div>
</template>

<script lang="ts">
export default {
  name: "WeatherCurrent",
};
</script>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { toRefs, watch, type PropType } from "vue";

import type { LocationInformation } from "@/types";

import CustomCard from "@/components/CustomCard.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";
import WeatherInformation from "@/components/WeatherInformation.vue";

import { useLoading } from "@/composables/useLoading";
import { useWeatherStore } from "@/stores/weather";

const props = defineProps({
  location: {
    type: Object as PropType<LocationInformation>,
    required: true,
  },
});

const { location: selectedLocation } = toRefs(props);

const weatherStore = useWeatherStore();
const { currentWeather, todaysHighLowTemperature } = storeToRefs(weatherStore);
const { loadCurrentWeather } = weatherStore;

const { loading, load, error } = useLoading();

const loadFromLocation = async (location: LocationInformation) => {
  if (!location) return;
  load(() => loadCurrentWeather(location.coordinates));
};

watch(selectedLocation, loadFromLocation, { immediate: true });
</script>

<style lang="postcss"></style>
