<template>
  <header
    class="container max-w-screen-xl p-5"
    :class="{
      'h-screen flex flex-col justify-center': !selectedLocation,
    }"
  >
    <div class="flex sm:flex-row flex-col sm:justify-center items-center gap-5">
      <AppLogo class="w-[200px] h-auto" />

      <div class="flex-auto flex flex-row w-full">
        <WeatherLocationSelect class="flex-auto" v-model="selectedLocation" />
        <ConfigurationToolbar
          :location-disabled="currentUserLocation === null"
          v-model:use-location="useLocationServices"
          v-model:show-map="showMapPreview"
        />
      </div>
    </div>
  </header>

  <main v-if="selectedLocation" class="container h-screen max-w-screen-xl p-5">
    <div class="flex flex-col gap-5">
      <section class="flex flex-col sm:flex-row gap-5">
        <div class="flex-1">
          <WeatherCurrent :location="selectedLocation" />
        </div>
        <CustomCard v-if="showMapPreview" class="flex-1 p-0">
          <LocationMap
            :coordinates="selectedLocation.coordinates"
            class="h-[15rem] sm:h-full"
          />
        </CustomCard>
      </section>
      <section>
        <WeatherForecast :location="selectedLocation" />
      </section>
      <section>
        <WeatherHistorical :location="selectedLocation" />
      </section>
    </div>
  </main>
</template>

<script lang="ts">
export default {
  name: "WeatherApp",
};
</script>

<script setup lang="ts">
import { onBeforeMount, ref, watch, watchEffect } from "vue";

import ConfigurationToolbar from "@/components/ConfigurationToolbar.vue";
import AppLogo from "@/components/icons/AppLogo.vue";
import WeatherCurrent from "@/components/WeatherCurrent.vue";
import WeatherForecast from "@/components/WeatherForecast.vue";
import WeatherHistorical from "@/components/WeatherHistorical.vue";
import WeatherLocationSelect from "@/components/WeatherLocationSelect.vue";

import { useCurrentLocation } from "@/composables/useCurrentLocation";
import type { LocationInformation } from "@/types";
import CustomCard from "./CustomCard.vue";
import LocationMap from "./LocationMap.vue";
import { usePersistPreferences } from "@/composables/usePersistPreferences";

const selectedLocation = ref<LocationInformation | null>(null);

const { currentUserLocation, loadCurrentUserLocation } = useCurrentLocation();

onBeforeMount(() => {
  loadCurrentUserLocation();
});

watch(
  currentUserLocation,
  (userLocation) => {
    if (userLocation && useLocationServices.value) {
      selectedLocation.value = userLocation;
    }
  },
  { immediate: true }
);

const { showMapPreview, useLocationServices } = usePersistPreferences();

watchEffect(() => {
  if (!currentUserLocation.value) return;

  if (currentUserLocation.value.name !== selectedLocation.value?.name) {
    useLocationServices.value = false;
  }
});

watch(useLocationServices, (enabled) => {
  if (enabled) {
    loadCurrentUserLocation();
  }
});
</script>

<style lang="postcss"></style>
