<template>
  <CustomCard v-if="loading" loading class="h-40" />
  <CustomCard v-else-if="error" class="h-40">
    <ErrorMessage @retry="loadFromLocation(selectedLocation)" />
  </CustomCard>
  <template v-else>
    <h2 class="font-bold text-xl mb-2">Weather in the next 7 days</h2>
    <div class="flex flex-row overflow-x-auto gap-2 pb-2">
      <WeatherInformation
        v-for="(weather, index) in weatherForecast"
        :key="index"
        :weather="weather"
        class="text-sm min-w-[15rem]"
      />
    </div>
  </template>
</template>

<script lang="ts">
export default {
  name: "WeatherForecast",
};
</script>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { toRefs, watch, type PropType } from "vue";

import type { LocationInformation } from "@/types";

import CustomCard from "@/components/CustomCard.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";
import WeatherInformation from "@/components/WeatherInformation.vue";

import { useLoading } from "@/composables/useLoading";
import { useWeatherStore } from "@/stores/weather";

const props = defineProps({
  location: {
    type: Object as PropType<LocationInformation>,
    required: true,
  },
});

const { location: selectedLocation } = toRefs(props);

const weatherStore = useWeatherStore();
const { weatherForecast } = storeToRefs(weatherStore);
const { loadWeatherForecast } = weatherStore;

const { loading, load, error } = useLoading();

const loadFromLocation = async (location: LocationInformation) => {
  if (!location) return;
  load(() => loadWeatherForecast(location.coordinates));
};

watch(selectedLocation, loadFromLocation, { immediate: true });
</script>

<style lang="postcss"></style>
