<template>
  <div class="flex flex-col relative">
    <div class="relative">
      <input
        type="text"
        class="rounded-lg p-2.5 text-lg w-full border-slate-600 border-2"
        :placeholder="placeholderText"
        v-model="searchString"
        @focus="inputFocused = true"
        @blur="handleInputBlur"
      />
      <SpinnerIcon
        v-if="loading"
        class="absolute bottom-0 right-0"
        width="3rem"
      />
    </div>
    <div
      v-if="showPredictionResults"
      class="flex flex-col bg-white shadow-lg rounded-lg absolute top-full mt-1 border-slate-600 border-2 overflow-auto w-full max-h-60 z-10"
    >
      <div
        v-for="place in placePredictions"
        :key="place.place_id"
        class="p-2.5 cursor-pointer hover:bg-slate-600 hover:text-white"
        @click="handleSelection(place)"
      >
        {{ place.description }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "WeatherLocationSelect",
};
</script>

<script setup lang="ts">
import { computed, ref, watch, type PropType } from "vue";
import debounce from "lodash.debounce";

import SpinnerIcon from "./icons/SpinnerIcon.vue";
import {
  usePlacesAutocomplete,
  type PlacePrediction,
} from "@/composables/usePlacesAutocomplete";
import { useGeocoder } from "@/composables/useGeocoder";
import type { LocationInformation } from "@/types";

const props = defineProps({
  modelValue: {
    type: Object as PropType<LocationInformation | null>,
    default: null,
  },
});

const emit = defineEmits(["select", "update:modelValue"]);

const searchString = ref("");
const placePredictions = ref<PlacePrediction[]>([]);
const loading = ref(false);

const { getCoordinatesFromSearch } = useGeocoder();
const { getPlacePredictions } = usePlacesAutocomplete();

const loadPredictions = async (searchValue: string) => {
  if (searchValue.length < 3) return;

  try {
    loading.value = true;
    placePredictions.value = await getPlacePredictions(searchValue);
  } catch (error) {
    //
  } finally {
    loading.value = false;
  }
};

const inputFocused = ref(false);

const showPredictionResults = computed(
  () => placePredictions.value.length && inputFocused.value
);

const resetPlacePredictions = () => {
  placePredictions.value = [];
};

const reconciliateSearchString = (updatedValue: string) => {
  if (searchString.value !== updatedValue) {
    searchString.value = updatedValue;
  }
};

watch(searchString, debounce(loadPredictions, 200));

watch(searchString, (value) => {
  if (!value) resetPlacePredictions();
});

watch(
  () => props.modelValue,
  (value) => {
    searchString.value = value?.name ?? "";
  }
);

const handleSelection = async (placePrediction: PlacePrediction) => {
  const name = placePrediction.description;
  reconciliateSearchString(name);
  const coordinates = await getCoordinatesFromSearch(
    placePrediction.description
  );
  emit("update:modelValue", { coordinates, name });
};

const handleInputBlur = () => {
  // :(
  setTimeout(() => {
    inputFocused.value = false;
  }, 200);
};

const placeholderText = computed(
  () => props.modelValue?.name ?? "Type a country to search"
);
</script>

<style lang="postcss"></style>
