<template>
  <CustomCard>
    <template #header>
      <div class="w-full flex flex-row justify-between">
        <span v-if="locationName" class="font-bold text-[1em]">
          {{ locationName }}
        </span>

        <span v-if="dataTimeFormatted" class="font-bold text-[1em]">
          {{ dataTimeFormatted }}
        </span>
      </div>
    </template>

    <div class="relative flex flex-col gap-2 items-center">
      <div class="flex flex-row">
        <img :src="iconURL" class="w-[6em] h-auto -m-3" />
        <span class="text-[4em] leading-none">{{ temperature }}°</span>
      </div>

      <span class="text-[1.3em]">
        {{ weatherDescription }}
      </span>

      <div
        v-if="weather.minTemp || weather.maxTemp"
        class="flex flex-row gap-2"
      >
        <WeatherVariable>
          <template #icon>
            <TemperatureIcon class="w-5 h-auto fill-slate-600" />
          </template>

          <span>Low: {{ formatTemperature(weather.minTemp) }}°</span>
          /
          <span>High: {{ formatTemperature(weather.maxTemp) }}°</span>
        </WeatherVariable>
      </div>

      <WeatherInformationExtra v-if="showMore" :weather="weather" />
    </div>

    <template #footer>
      <button
        class="text-sm font-bold text-primary hover:text-secondary"
        @click="showMore = !showMore"
      >
        {{ showMore ? "Less" : "More" }} Info
      </button>
    </template>
  </CustomCard>
</template>

<script lang="ts">
export default {
  name: "WeatherInformation",
};
</script>

<script setup lang="ts">
import type { WeatherInfo } from "@/types";
import { OPEN_WEATHER_ICON_URL } from "@/utils/constants";
import { computed, ref, type PropType } from "vue";
import TemperatureIcon from "./icons/TemperatureIcon.vue";
import CustomCard from "@/components/CustomCard.vue";
import WeatherInformationExtra from "./WeatherInformationExtra.vue";

import WeatherVariable from "./WeatherVariable.vue";
import { formatDateLocal } from "@/utils";
import type { OWUnit } from "@/types/open-weather";

const props = defineProps({
  locationName: {
    type: String,
    default: "",
  },

  weather: {
    type: Object as PropType<WeatherInfo>,
    required: true,
  },

  units: {
    type: String as PropType<OWUnit>,
    default: "metric",
  },
});

const iconURL = computed(
  () => `${OPEN_WEATHER_ICON_URL}/${props.weather.weather[0].icon}@2x.png`
);

const formatTemperature = (temp: number) => Math.floor(temp);

const temperature = computed(() => formatTemperature(props.weather.temp));

const showMore = ref(false);

const weatherDescription = computed(() => props.weather.weather[0].main);

const dataTimeFormatted = computed(
  () => props.weather.dataTime && formatDateLocal(props.weather.dataTime)
);
</script>
