<template>
  <svg viewBox="0 0 490 490" style="enable-background: new 0 0 490 490">
    <g>
      <path
        d="M407.761,53.164c22.866,21.393,37.259,51.733,37.259,85.441c0,10.587-1.421,21.122-4.232,31.313
		c-1.166,4.18-2.542,8.277-4.142,12.255l-3.08,7.021L327.873,384.562L218.996,181.903c-1.622-4.082-2.923-7.985-4.03-11.993
		c-2.811-10.154-4.239-20.688-4.239-31.305c0-33.176,13.926-63.111,36.164-84.446L171.01,5.241v72.084h-15.313V3.659L0,82.979V490
		l155.697-97.058v-78.886h15.313v78.91l149.207,93.013V411h15.313v73.679L490,391.948V0L407.761,53.164z M171.01,271.528h-15.313
		v-54.573h15.313V271.528z M171.01,174.426h-15.313v-54.573h15.313V174.426z"
      />
      <path
        d="M327.873,96.832c-22.49,0-40.793,18.296-40.793,40.786s18.303,40.786,40.793,40.786c22.49,0,40.794-18.296,40.794-40.786
		S350.363,96.832,327.873,96.832z"
      />
      <path
        d="M327.873,36.771c-56.151,0-101.834,45.683-101.834,101.834c0,9.234,1.241,18.4,3.686,27.231
		c0.957,3.477,2.094,6.871,3.395,10.176l3.208,7.275l91.546,169.095l94.656-176.154c1.301-3.223,2.497-6.766,3.484-10.385
		c2.452-8.867,3.694-18.027,3.694-27.238C429.707,82.454,384.024,36.771,327.873,36.771z M327.873,193.717
		c-30.939,0-56.106-25.167-56.106-56.098c0-30.932,25.167-56.099,56.106-56.099c30.939,0,56.106,25.167,56.106,56.099
		C383.979,168.55,358.812,193.717,327.873,193.717z"
      />
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>

<script lang="ts">
export default {
  name: "MapIcon",
};
</script>

<script setup lang="ts"></script>

<style lang="postcss"></style>
