<script setup lang="ts">
import { onMounted } from "vue";
import { Loader } from "@googlemaps/js-api-loader";

import WeatherApp from "./components/WeatherApp.vue";
import { useLoading } from "./composables/useLoading";

const { loading: preparing, load } = useLoading();

onMounted(() => {
  load(async () => {
    const gmapsLoader = new Loader({
      apiKey: import.meta.env.VITE_GOOGLE_MAPS_KEY,
      libraries: ["places"],
    });
    await gmapsLoader.load();
  });
});
</script>

<template>
  <WeatherApp v-if="!preparing" />
</template>

<style lang="postcss">
body {
  @apply text-secondary bg-slate-200 font-sans;
}
</style>
